<div class="span10 offset1">
    <div class="row-fluid">
        <div class="span3">
            <button class="btn btn-inverse" type="button" ng-click="ziAddNewTemplete()">Add Templete</button>
        </div>
    </div>
    <div class="row-fluid thumbnails" zi-list="ziModels.list">
        <div class="span3 thumbnail" style="margin-top: 1.6em;padding-top: 1.6em;" ng-repeat="item in ziModels.list"
            zi-draggable="item" zi-moved="ziModels.list.splice($index, 1)" zi-effect-allowed="move"
            zi-selected="ziModels.selected = item" ng-class="{'selected': ziModels.selected === item}">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label span4">Field</label>
                    <div class="controls span8">
                        <select ng-model="item.field">
                            <option></option>
                            <option value='title'>Title</option>
                            <option value='description'>Description</option>
                            <option value='sku'>Sku</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span4">Bg Color</label>
                    <div class="controls span8">
                        <div class="input-append">
                            <input type="text" style="width: 80%;" ng-model="item.bg_color"
                                ng-click="ziOpenColorPicker($event)" readonly>
                            <span class="add-on" style="width: 10%;"><input type="color" ng-model="item.bg_color"
                                    value="#ff0000" style="width:fit-content"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3 offset9">
                    <button class="btn btn-small btn-danger" type="button"
                        ng-click="ziRemoveTemplete(item,$index)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Json Data</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJson}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>