<div class="span10 offset1">
    <style>
        .zi-add-btn,
        .zi-add-btn:focus,
        .zi-add-btn:hover,
        .zi-add-btn::after {
            border-radius: 0;
            padding: .5rem 3rem;
            background-color: #3C3C3C !important;
            background-image: none;
            color: #FFFFFF;
            font: 1rem;
            font-family: 'Roboto', sans-serif;
            border: none;
        }

        .zi-remove-btn,
        .zi-remove-btn:focus,
        .zi-remove-btn:hover,
        .zi-remove-btn::after {
            border-radius: 0;
            padding: .5rem 2rem;
            background-color: #FE0015;
            background-image: none;
            color: #FFFFFF;
            border: none;
        }

        .row-fluid [class*="span"] {
            margin-left: 0;
        }

        .template-body {
            padding: 3rem 1rem;
        }

        .input-container {
            margin-top: 15px;
        }

        .input-container:not(:last-child) {
            border-right: 2px solid #6F6F6F;
        }

        .template-body .control-label {
            color: #6F6F6F;
        }

        .template-body select {
            border-radius: 0;
            background-color: #3C3C3C !important;
            background-image: none;
            color: #FFFFFF;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            border: none;
            padding-right: 15px;
        }

        .template-body input[type="text"] {
            border-radius: 0px;
            background-color: #FFFFFF;
        }

        .template-body input[type="color"] {
            -webkit-appearance: none;
            border: none;
            width: 0px;
            height: 0px;
            opacity: 0;
        }

        .template-body input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        .template-body input[type="color"]::-webkit-color-swatch {
            border: none;
        }

        select,
        textarea,
        input[type="text"],
        input[type="button"] {
            max-width: -webkit-fill-available !important;
        }
    </style>
    <div class="row">
        <div class="span3">
            <button class="btn zi-add-btn" type="button" ng-click="ziAddNewTemplete()">Add</button>
        </div>
    </div>
    <div class="row" zi-list="ziModels.list">
        <div class="span3 input-container" ng-repeat="item in ziModels.list" zi-draggable="item"
            zi-moved="ziModels.list.splice($index, 1)" zi-effect-allowed="move" zi-selected="ziModels.selected = item"
            ng-class="{'selected': ziModels.selected === item}">
            <div class="span* template-body">
                <div class="control-group">
                    <label class="control-label span4">Field</label>
                    <div class="controls span8">
                        <select ng-model="item.field">
                            <option></option>
                            <option value='title'>Title</option>
                            <option value='description'>Description</option>
                            <option value='sku'>Sku</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span4">Bg Color</label>
                    <div class="controls span8">
                        <input type="text" ng-model="item.bg_color" ng-click="ziOpenColorPicker($event)" readonly>
                        <input type="color" class="color-picker" ng-model="item.bg_color">
                    </div>
                </div>
                <div class="control-group">
                    <div class="span7 offset5">
                        <input class="btn zi-remove-btn" type="button" value="Remove"
                            ng-click="ziRemoveTemplete(item,$index)" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Json Data</h3>
                </div>
                <div class="panel-body">
                    <pre class="code">{{modelAsJson}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>